/* lteenb configuration file version 2025-07-31
 * Copyright (C) 2019-2025 Simnovus
 * NR SA NTN cell */


#define NTN_FR2              0
#define NTN_MODE             0   // 0: GEO, 1: MEO, 2: LEO
#if NTN_FR2
#define NR_BANDWIDTH         100 // NR cell bandwidth
#else
#define NR_BANDWIDTH         20  // NR cell bandwidth, limited to 20 MHz in NTN bands 255 or 256
#endif
#define N_ANTENNA_DL         1   // Values: 1 (SISO), 2 (MIMO 2x2), 4 (MIMO 4x4)
#define N_ANTENNA_UL         1   // Values: 1, 2, 4
#define CHANNEL_SIM          0   // Enable satellite link emulation within eNB DL channel simulator

#if NTN_MODE == 0
#define CSI_SRS_PERIOD 320
#define MAX_HARQ 2
#define T3XX_TIMER 2000
#define SRB_T_POLL_RETX 800
#elif NTN_MODE == 1
#define CSI_SRS_PERIOD 80
#define MAX_HARQ 5
#define T3XX_TIMER 1000
#define SRB_T_POLL_RETX 150
#else
#define CSI_SRS_PERIOD 40
#define MAX_HARQ 5
#define T3XX_TIMER 1000
#define SRB_T_POLL_RETX 80
#endif


{
  //log_options: "all.level=debug,all.max_size=1,phy.ntn=1",
  log_options: "all.level=error,all.max_size=0,nas.level=debug,nas.max_size=1,ngap.level=debug,ngap.max_size=1,xnap.level=debug,xnap.max_size=1,rrc.level=debug,rrc.max_size=1",

  log_filename: "/tmp/gnb0.log",

  /* Enable remote API and Web interface */
  com_addr: "[::]:9001",

  "rf_driver": {
    "args": "dev0=/dev/sdr0,dev1=/dev/sdr1",
    "name": "sdr",

  },
  "rx_gain": [
    32,
    20
  ],
  "tx_gain": [
    80,
    80
  ],

license_server: {server_addr: "192.168.0.11:9051", tag: "oru-enb"},
  amf_list: [
    {
      /* address of AMF for NGAP connection. Must be modified if the AMF runs on a different host. */
      amf_addr: "127.0.1.100",
    },
  ],
  /* GTP bind address (=address of the ethernet interface connected to
     the AMF). Must be modified if the AMF runs on a different host. */
  gtp_addr: "127.0.1.1",
#ifdef GTP_U_BUNDLING
  gtp_use_packet_bundling: true,
#endif

  gnb_id_bits: 28,
  gnb_id: 0x12345,

#if CHANNEL_SIM
  rf_ports: [
    {
      channel_dl: {
        type: "awgn",
        noise_level: -50
      }
    },
   {
      channel_dl: {
        type: "awgn",
        noise_level: -50
      }
    },

  ],
#endif
  rx_ta_offset: 30,	/* Add a safety margin in UL reception window in case the UE overcompensates the TA */

  /* list of cells */
  cell_list: [],
 "custom_freq_band": [
  {
  "band_nr": 3,
  "dl_freq_min": 1805,
  "dl_freq_max": 1880,
  "ul_freq_min": 1710,
  "ul_freq_max": 1785,
  "ssb_scs": [
    15,
    30
  ],
  "f_raster": 15,
  "ssb_case_c": true,
  "min_40mhz_bw": false,
  "delta_gscn": 1,
  "ntn": true
},

  nr_cell_list: [
  {
    rf_port: 0,
    cell_id: 0x01,
#if NTN_FR2
    band: 510,
    dl_nr_arfcn: 1734048,
    ul_nr_arfcn: 2080000,
    subcarrier_spacing: 120,
    ssb_pos_bitmap: "0100000000000000000000000000000000000000000000000000000000000000",
#else
    band: 3,
    dl_nr_arfcn: 368500,
    ssb_subcarrier_spacing: 15,
    subcarrier_spacing: 30,
    ssb_pos_bitmap: "1000",
#endif
#if NTN_MODE == 0
    ssb_period: 20,
#else
    ssb_period: 5,  /* Close SSBs allow for better timing estimation on UE side */
#endif
    n_id_cell: 500,
        ntn: {
//	tle_filename: "SIM39-TC-75-india.tle",
      ul_sync_validity: 900,
      default_ephemeris: "geo",
  
    /* Uncomment based on UE interpretation of the ECI reference frame */
      /* eci_reference: "ecef_greenwich" */
      //Simnovus  Bengaluru location
	  ground_position: { 
        latitude:12.981277607000305,
        longitude: 77.72608002148647,
        altitude: 140
      },
#if CHANNEL_SIM
      channel_sim_control: {
        type: "auto_feeder_service_link",
        /* This should reflect the actual UE position in order to simulate properly the service link delay */
        //ISRO loacation  Bengaluru location
		ue_position: {
          latitude: 13.035277525185826,
          longitude: 77.5708933079939,
          altitude: 100
        },
        ue_doppler_shift: true,
      }
#endif
    },
 
  },
    {
    rf_port: 1,
    cell_id: 0x02,
#if NTN_FR2
    band: 510,
    dl_nr_arfcn: 1734048,
    ul_nr_arfcn: 2080000,
    subcarrier_spacing: 120,
    ssb_pos_bitmap: "0100000000000000000000000000000000000000000000000000000000000000",
#else
    band: 3,
    dl_nr_arfcn: 368500,
    ssb_subcarrier_spacing: 15,
    subcarrier_spacing: 30,
    ssb_pos_bitmap: "1000",
#endif
#if NTN_MODE == 0
    ssb_period: 20,
#else
    ssb_period: 5,  /* Close SSBs allow for better timing estimation on UE side */
#endif
    n_id_cell: 501,
    ntn: {
 ul_sync_validity: 900,
      default_ephemeris: "geo",
      ground_position: {
        latitude: 48.853,
        longitude: 2.348,
        altitude: 140
      },
#if CHANNEL_SIM
      channel_sim_control: {
        type: "auto_feeder_service_link",
        /* This should reflect the actual UE position in order to simulate properly the service link delay */
        ue_position: {
          latitude: 43.295,
          longitude: 5.373,
          altitude: 20
        },
        ue_doppler_shift: true,
      }
#endif
    },
 
  },
  
  
  
  
  ], /* nr_cell_list */

  nr_cell_default: {
    bandwidth: NR_BANDWIDTH, /* MHz */
    n_antenna_dl: N_ANTENNA_DL,
    n_antenna_ul: N_ANTENNA_UL,

    
    plmn_list: [ {
      tac: 100,
      plmn: "00101",
      reserved: false,
      nssai: [
        {
         sst: 1,
        },
      ],
      },
    ],

    sib_sched_list: [
      {
        filename: "sib2_nr.asn",
        si_periodicity: 16,
      }
    ],
    si_window_length: 40,
    sib19: {
      si_periodicity: 16,
      si_value_tag: 0
    },

    cell_barred: false,
    intra_freq_reselection: true,
    q_rx_lev_min: -70,
    q_qual_min: -20,

    root_sequence_index: 1, /* PRACH root sequence index */

    /* Scheduling request period (slots). */
    sr_period: 40,

    dmrs_type_a_pos: 2,

    prach: {
#if NTN_FR2
      prach_config_index: 181, /* PRACH format C2 */
      msg1_subcarrier_spacing: 60,
      ra_response_window: 40, /* in slots */
#else
      prach_config_index: 16, /* subframe 1 every frame */
      ra_response_window: 20, /* in slots */
#endif
      msg1_fdm: 1,
      msg1_frequency_start: -1,
      zero_correlation_zone_config: 15,
      preamble_received_target_power: -110, /* in dBm */
      preamble_trans_max: 7,
      power_ramping_step: 4, /* in dB */
      restricted_set_config: "unrestricted_set",
      ra_contention_resolution_timer: 64, /* in ms */
      ssb_per_prach_occasion: 1,
      cb_preambles_per_ssb: 8,
    },

    pdcch: {
      search_space0_index: 0,
      dedicated_coreset: {
        rb_start: -1, /* -1 to have the maximum bandwidth */
        l_crb: -1, /* -1 means all the bandwidth */
        duration: 0, /* 0 means to automatically set it from the coreset bandwidth */
        precoder_granularity: "sameAsREG_bundle",
      },
      css: {
        n_candidates: [ 0, 0, 4, 0, 0 ],
      },
      rar_al_index: 2,
      si_al_index: 2,
      uss: {
        n_candidates: [ 0, 4, 0, 0, 0 ],
        dci_0_1_and_1_1: true,
      },
      al_index: 1,
    },

    pdsch: {
      mapping_type: "typeA",
      dmrs_add_pos: 3,
      dmrs_type: 1,
      dmrs_max_len: 1,
      mcs_table: "qam256",
      rar_mcs: 2,
      si_mcs: 6,
      /* If defined, force the PDSCH MCS for all UEs. Otherwise it is computed
       * based on DL channel quality estimation */
      /* mcs: 24, */
    },
    
    csi_rs: {
      resource_auto: {
        nzp_csi_rs_period: CSI_SRS_PERIOD,
      },
      csi_report_config: [
        {
          report_config_type: "periodic",
          period: CSI_SRS_PERIOD,
        },
      ],
    },
    
    pucch: {
      pucch_group_hopping: "neither",
      hopping_id: -1, /* -1 = n_cell_id */
      p0_nominal: -96,
        pucch0: {
          initial_cyclic_shift: 1,
          n_symb: 1,
        },
        pucch2: {
          n_symb: 2,
          n_prb: 1,
          freq_hopping: true,
        },
    },

    srs: {
      resource_auto: {
        codebook: {
          resource_type: "periodic",
          period: CSI_SRS_PERIOD, /* in slots */
        }
      }
    },

    pusch: {
      tf_precoding: false,
      mcs_table: "qam256", /* without transform precoding */
      mcs_table_tp: "qam256", /* with transform precoding */
      ldpc_max_its: 5,
      p0_nominal_with_grant: -90,
      msg3_mcs: 4,
      msg3_delta_power: 0, /* in dB */
      beta_offset_ack_index: 9,
      max_rank: N_ANTENNA_UL,
      ta_upd_snr_threshold: 3.0,    /* Allow TA updates in msot cases */
      /* if defined, force the PUSCH MCS for all UEs. Otherwise it is
       computed from the last received PUSCH. */
      /* mcs: 10, */
#if NTN_FR2
      n_harq_process: 32,
#endif
    },

    /* MAC configuration */
    mac_config: {
      msg3_max_harq_tx: MAX_HARQ,
      ul_max_harq_tx: MAX_HARQ, /* max number of HARQ transmissions for uplink */
      dl_max_harq_tx: MAX_HARQ, /* max number of HARQ transmissions for downlink */
      ul_max_consecutive_retx: MAX_HARQ * 5, /* disconnect UE if reached */
      dl_max_consecutive_retx: MAX_HARQ * 5, /* disconnect UE if reached */
      periodic_phr_timer: 0,
      phr_tx_power_factor_change: "dB3",
      periodic_bsr_timer: 20,
#if NTN_MODE == 0
      retx_bsr_timer: 2560,
      sr_prohibit_timer: 512,
      prohibit_phr_timer: 500,
      sr_trans_max: 16,
#elif NTN_MODE == 1
      retx_bsr_timer: 640,
      sr_prohibit_timer: 128,
      prohibit_phr_timer: 100,
      sr_trans_max: 32,
      time_alignment_tx_timer: 160,
#else
      retx_bsr_timer: 80,
      sr_prohibit_timer: 16,
      prohibit_phr_timer: 20,
      sr_trans_max: 64,
      time_alignment_tx_timer: 40,
#endif
    },

    timers_and_constants: {
      t300: T3XX_TIMER,
      t301: T3XX_TIMER,
      t319: T3XX_TIMER,
    },
    inactivity_timer: 10000,

    srb_config: [
      {
        id: 1,
        t_PollRetransmit: SRB_T_POLL_RETX,
      },
      {
        id: 2,
        t_PollRetransmit: SRB_T_POLL_RETX,
      }
    ],
    

    cipher_algo_pref: [],
    integ_algo_pref: [2, 1],

    drb_config: "drb_nr.cfg",
  },
 
  
}

