/* lteenb configuration file example for NB-IoT (standalone mode) with NTN support
 * Copyright (C) 2022-2024 Simnovus
 */

#define NTN_MODE             0   // 0: GEO, 1: MEO, 2: LEO
#define CHANNEL_SIM          0   // Enable satellite link emulation within eNB DL channel simulator

#if NTN_MODE == 0
#define MAX_HARQ 2
#elif NTN_MODE == 1
#define MAX_HARQ 5
#else
#define MAX_HARQ 5
#endif


{
  /* Log filter: syntax: layer.field=value[,...]

       Possible layers are phy, mac, rlc, pdcp, rrc, nas, ip and
       all. The 'all' layer is used to address all the layers at the
       same time.

       field values:

       - 'level': the log level of each layer can be set to 'none',
       'error', 'info' or 'debug'. Use 'debug' to log all the messages.

       - 'max_size': set the maximum size of the hex dump. 0 means no
         hex dump. -1 means no limit.
  */
  //log_options: "all.level=debug,all.max_size=32,phy.ntn=1",
  log_options: "all.level=error,all.max_size=0,nas.level=debug,nas.max_size=1,s1ap.level=debug,s1ap.max_size=1,rrc.level=debug,rrc.max_size=1",
  log_filename: "/tmp/enb0.log",

  /* Enable remote API and Web interface */
  com_addr: "[::]:9001",
  
license_server: {server_addr: "192.168.0.11:9051", tag: "oru-enb"},


/* RF driver configuration */
//  include "rf_driver/config.cfg",
 "rf_driver": {
    "name": "sdr",
    "args": "dev0=/dev/sdr0,dev1=/dev/sdr1"
  },
  "rx_gain": [
    0,
    0
  ],
  "tx_gain": [
    80,
    80
  ],


  mme_list: [ 
    { 
      /* address of MME for S1AP connection. Must be modified if the MME
         runs on a different host. */
      mme_addr: "127.0.1.100",
    },
  ],
  /* GTP bind address (=address of the ethernet interface connected to
     the MME). Must be modified if the MME runs on a different host. */
  gtp_addr: "127.0.1.1",
#ifdef GTP_U_BUNDLING
  gtp_use_packet_bundling: true,
#endif

  /* high 20 bits of SIB1.cellIdentifier */
  enb_id: 0x1A2D1,

#if CHANNEL_SIM
  rf_ports: [
    {
      channel_dl: {
        type: "awgn",
        noise_level: -50
      }
    },
   {
      channel_dl: {
        type: "awgn",
        noise_level: -50
      }
    },

  ],
#endif
  rx_ta_offset: 30,	/* Add a safety margin in UL reception window in case the UE overcompensates the TA */

  cell_list: [ ],

  /* default NB-IoT cell parameters */
  nb_cell_default: {
    /* SI info */
    si_value_tag: 0, /* increment modulo 32 if SI is modified */
    r_sib1: 4, /* number of SIB1 repetitions */
    cell_barred: false, /* SIB1.cellBarred-r13 */
    intra_freq_reselection: true, /* SIB1.intraFreqReselection-r13 */
    q_rx_lev_min: -70, /* SIB1.q-RxLevMin */
    q_qual_min: -34, /* SIB1.q-QualMin */
    
    si_window_length: 160, /* ms */
    si_radio_frame_offset: 0, /* in frames */
    si_value_tag_list_enable: true, /* enable per SIB si_value_tag */
    sib_sched_list: [
      { 
        filename: "sib2_nb.asn",
        si_periodicity: 128,
        si_repetition_pattern: 2,
        si_value_tag: 0, /* increment modulo 4 if SIB is modified */
      },
    ],
    
    /* SIB31 separate mapping */
    sib31: {
      si_periodicity: 128,
      si_repetition_pattern: 4,
      si_value_tag: 0
    },

    /* NTN configuration */
    ntn: {
#if NTN_MODE == 0
     // tle_filename: SIM39-TC-74.tle
      ul_sync_validity: 900,
      default_ephemeris: "geo",
      /* Send orbital data in the form of ECEF state vectors, only relevant in GEO */
      /* use_state_vectors: true, */
#elif NTN_MODE == 1
      ul_sync_validity: 20,
      default_ephemeris: "meo",
#else
      default_ephemeris: "leo",
      ul_sync_validity: 5,
#endif
      /* Uncomment based on UE interpretation of the ECI reference frame */
      /* eci_reference: "ecef_greenwich" */
      ground_position: {
        latitude: 48.853,
        longitude: 2.348,
        altitude: 140
      },
#if CHANNEL_SIM
      channel_sim_control: {
        type: "auto_feeder_service_link",
        /* This should reflect the actual UE position in order to simulate properly the service link delay */
        ue_position: {
          latitude: 43.295,
          longitude: 5.373,
          altitude: 20
        },
        ue_doppler_shift: true,
      }
#endif
    },
 
    mac_config: {
      msg3_max_harq_tx: 1,
      ul_max_harq_tx: MAX_HARQ,
      dl_max_harq_tx: MAX_HARQ,
      ul_max_consecutive_retx: MAX_HARQ*3, /* disconnect UE if reached */
      dl_max_consecutive_retx: MAX_HARQ*3, /* disconnect UE if reached */
      time_alignment_timer_dedicated: 0,
      periodic_bsr_timer: 16,
      retx_bsr_timer: 16,
    },

    npusch_max_its: 10, /* Max turbo decoder iterations */

    /* each coverage level corresponds to a NPRACH configuration */
    coverage_levels: [
      {
        nprach_detect_threshold: 40, /* in dB */
        npdcch_ra_n_rep: 1, /* must be <= npdcch-NumRepetitions-RA-r13 */
        npdsch_ra_n_rep: 1, /* number of repetition for NPDSCH with RAR */
        npdsch_ra_i_tbs: 3, /* I_TBS for NPDSCH with RAR */

        /* msg3 configuration */
        ul_sc_spacing: 1, /* 0 = 3.75 KHz subcarrier, 1 = 15 KHz subcarrier */
        msg3_n_sc: 1, /* 1, 3, 6, 12 max number of subcarriers */
        msg3_single_tone_mcs: 2, /* 0-2 */
//        msg3_multi_tone_mcs: 1, /* 0-2, only needed for multi-tone */
        msg3_n_rep: 1, /* 1-128 number of repetitions for msg3 */

        /* Paging */
        npdcch_paging_n_rep: 1, /* must be <= npdcch-NumRepetitionPaging-r13 */
        npdsch_paging_i_tbs: 4,
        npdsch_paging_n_rep: 1,

        /* NPDCCH User Search Space */
        npdcch_uss_n_rep_max: 8, /* 1-2048 max number of NPDCCH repetition */
        npdcch_uss_n_rep: 1, /* use 0 for half RB allocation, otherwise actual
                                number of NPDCCH repetitions */
        npdcch_uss_start_sf: 4, /* 1.5, 2, 4, 8, 16, 32, 48, 64 */
        npdcch_uss_offset: 0, /* 0-3 */
        /* NPDSCH config */
        npdsch_i_tbs: 5, /* 0-12 */
        npdsch_n_rep: 1, /* 1-2048 number of NPDSCH repetitions */
        /* NPUSCH config */
        npusch_single_tone_i_tbs: 4, /* 0-12 */
#if NTN_MODE == 0
        npusch_n_sc: 1, /* 1, 3, 6, 12 max number of subcarriers */
#else
        npusch_n_sc: 3, /* 1, 3, 6, 12 max number of subcarriers */
        npusch_multi_tone_i_tbs: 4, /* 0-12 */
#endif
        npusch_n_rep: 1, /* 1-128 number of NPUSCH repetitions */
      },
    ],

    /* RRC/UP ciphering algorithm preference. EEA0 is always the last. */
    cipher_algo_pref: [],
    /* RRC integrity algorithm preference. EIA0 is always the last. */
    integ_algo_pref: [2, 1],

    inactivity_timer: 10000,

    /* SRB configuration */
    srb_config: {
      maxRetxThreshold: 8,
      enb_maxRetxThreshold: 8,
    },

    /* DRB configuration */
    drb_config: "drb_nb.cfg",
  },

  /* list of NB-IoT cells */
  nb_cell_list: [
    {
      plmn_list: [
        { plmn: "00101", reserved: false },
      ],
      cell_id: 0x01,
      rf_port: 0,
      tac: 0x0002, /* SIB1.trackingAreaCode */
      dl_earfcn: 300, /* band 256 */
      n_antenna_dl: 1,
      n_antenna_ul: 1,
      operation_mode: "standalone",
      n_id_ncell: 37,
    },
   {
      plmn_list: [
        { plmn: "00101", reserved: false },
      ],
      cell_id: 0x02,
      rf_port: 1,
      tac: 0x0002, /* SIB1.trackingAreaCode */
      dl_earfcn: 1575, /* band 256 */
      n_antenna_dl: 1,
      n_antenna_ul: 1,
      operation_mode: "standalone",
      n_id_ncell: 38,
    },

  ], /* nbcell_list */

"custom_freq_band": [
    {
      "band": 1,
      "dl_earfcn_min":0,
      "dl_earfcn_max":599,
      "dl_freq_min": 2110,
      "ntn": true
    },
   {
      "band": 3,
      "dl_earfcn_min":1200,
      "dl_earfcn_max":1949,
      "dl_freq_min": 1200,
      "ntn": true
    }


  ]





}


