/* ltesim_server configuration file
 * version 2025-09-19
 * Copyright (C) 2022-2025 Simnovus
 */
{
  log_options: "prod.level=info,prod.max_size=1",
  log_filename: "/tmp/sim.log",

  /* Enable remote API and Web interface */
  //com_addr: "[::]:10000",

  /* IP simulation example */
#if 0
  sim_events: [{
    event: "cbr_send",
    bit_rate: 1e6,
    dst_addr: "192.168.2.1",
    payload_len: 1400,
    ttl: 1,
    start_time: 0,
    end_time: 5,
  }]
#endif
}

